/*
.alert {
    padding: 20px;
    background-color: #a0f88b;
    color: #000000;
    margin-bottom: 30px;
    display: none;
}

.closeAlert {
    margin-left: 15px;
    color: #000000;
    font-weight: bolder;
    float: right;
    font-size: 24px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.25s;
    display: none;
}

.closeAlert:hover {
    color: red;
}
*/