* {
    font-family: Tahoma, Verdana, sans-serif;
}
body {
    background-color: #30323d;
    color: #eaeaea;
    font-size: 20px;
}

.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #db162f;
}

.active {
    background-color: #30323d;
}
li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    color: #eaeaea;
    padding: 10px 12px;
    text-decoration: none;
}

h1 {
    font-size: 40px;
}


.grid-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
}

.form-control {
    font-size: 20px;
}
.btn {
    font-size: 20px;
}