* {
    font-family: Tahoma, Verdana, sans-serif;
}
body {
    background-color: #e66b77;
    font-size: 20px;
}

h1 {
    font-size: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
}

.form-control {
    font-size: 20px;
}
.btn {
    font-size: 20px;
}