* {
    font-family: Tahoma, Verdana, sans-serif;
}
body {
    background-color: #e68f98;
    font-size: 20px;
}

.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

h1 {
    font-size: 40px;
}


.grid-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
}

.form-control {
    font-size: 20px;
}
.btn {
    font-size: 20px;
}