* {
    font-family: Tahoma, Verdana, sans-serif;
}
body {
    background-color: #30323d;
    color: #eaeaea;
    font-size: 20px;
    text-align: center
}

.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #db162f;
}

.active {
    background-color: #30323d;
}

.table1 {
    overflow-y: scroll;
    width: 100%;
    max-height: 800px;
}

.table2 {
    overflow-y: scroll;
    width: 100%;
    max-height: 400px;
}

.package_sheet {
    width: auto;
    margin: auto;
    text-align: center;
}

.session_sheet {
    width: auto;
    margin: auto;
    text-align: center;
}

li {
    float: left;
    width: 33.33%;
}

li a{
    display: block;
    text-align: center;
    font-size: 16px;
    color: #eaeaea;
    padding: 10px 12px;
    text-decoration: none;
}

h1 {
    font-size: 40px;
    margin-top: 50px;
}

table {
    border: 2px solid;
    border-collapse: collapse;
}

td, th {
    text-align: center;
    border: 3px solid;
    padding: 2px 2px 2px 2px;
  }