* {
    font-family: Tahoma, Verdana, sans-serif;
}
body {
    background-color: #30323d;
    color: #eaeaea;
    font-size: 20px;
}

.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1d7874;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    color: #30323d;
    padding: 14px 16px;
    text-decoration: none;
}

h1 {
    font-size: 40px;
}

table {
    border: 2px solid;
    border-collapse: collapse;
}

td, th {
    text-align: center;
    border: 2px solid;
  }